<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="sensor_support">

  <xacro:macro name="sensor_support" params="package parent *origin">
    <xacro:property name="prefix" value="sensor_support"/>

    <!-- sensor support link -->
    <link name="${prefix}_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://${package}/urdf/mesh/support_asm.stl"/>
        </geometry>
        <material name="">
          <color rgba="0.2 0.2 0.2 1"/>
        </material>
      </visual>
    </link>
    <joint name="${prefix}_link_joint" type="fixed">
      <xacro:insert_block name="origin"/>
      <parent link="${parent}"/>
      <child link="${prefix}_link"/>
    </joint>

    <!-- vlp16 mount -->
    <link name="vlp16_mount_link"/>
    <joint name="vlp16_mount_link_joint" type="fixed">
      <origin xyz="0.010 0.0 0.305" rpy="0.0 0.0 0.0"/>
      <parent link="${prefix}_link"/>
      <child link="vlp16_mount_link"/>
    </joint>

    <!-- rtk gps mount -->
    <link name="rtk_gps_mount_link"/>
    <joint name="rtk_gps_mount_link_joint" type="fixed">
      <origin xyz="-0.172 0.0 0.2205" rpy="0.0 0.0 0.0"/>
      <parent link="${prefix}_link"/>
      <child link="rtk_gps_mount_link"/>
    </joint>

    <!-- livox mount -->
    <link name="livox_mount_link"/>
    <joint name="livox_mount_link_joint" type="fixed">
      <origin xyz="0.027 0.0 0.180" rpy="0.0 0.0 0.0"/>
      <parent link="${prefix}_link"/>
      <child link="livox_mount_link"/>
    </joint>

    <!-- zed camera mount -->
    <link name="zed_mount_link"/>
    <joint name="zed_mount_link_joint" type="fixed">
      <origin xyz="0.076 0.0 0.152" rpy="0.0 0.0 0.0"/>
      <parent link="${prefix}_link"/>
      <child link="zed_mount_link"/>
    </joint>

    <!-- d435 camera mount -->
    <link name="d435_mount_link"/>
    <joint name="d435_mount_link_joint" type="fixed">
      <origin xyz="0.05815 0.0 0.2695" rpy="0.0 0.0 0.0"/>
      <parent link="${prefix}_link"/>
      <child link="d435_mount_link"/>
    </joint>

    <!-- custom imu link -->
    <link name="custom_imu_link"/>
    <joint name="custom_imu_link_joint" type="fixed">
      <origin xyz="0.0 0.0 0.016" rpy="0.0 0.0 0.0"/>
      <parent link="${prefix}_link"/>
      <child link="custom_imu_link"/>
    </joint>

  </xacro:macro>

</robot>